<h2 class="text-center">
  Products
</h2>
<div class="text-center">
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./']">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
</div>
<router-outlet></router-outlet>
