@import '../../../theme';

.p-list-container {
  margin: 20px;
}

button{
  width: 120px;
}

.next-previous{
  margin-top: 30px;
}

.product {  
  height: 210px;  
  img{
    height: 100px;
    width: 100px;
  }

  .add{
    display: none;
  }

  &:hover {
    .add{
      margin-top: 20px;
      display: block;            
    }
    background-color: $product-hover-color;
  }
}


