<div class="p-list-container container-fluid text-center">
   <h2 class="text-center">Products List</h2>
  <div class="col-md-6 product" *ngFor="let product of productList">
    <div class="row">
      <div class="col-md-12">
        {{product.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img [src]="getImgFullUrl(product.img)" />
      </div>
    </div>
    <div class="col-md-12 add">
      <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./details', product._id]">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          View
      </button>
      <button type="button" class="btn btn-default" aria-label="Left Align" (click)="addProduct(product)">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add to cart
      </button>
    </div>
  </div>
  <div class="col-md-12 next-previous">
    <div class="col-md-12 add">
      <button type="button" [disabled]="skip===0" class="btn btn-default" aria-label="Left Align" (click)="previous()">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
          previous
      </button>
      <button type="button" [disabled]="disableNext" class="btn btn-default" aria-label="Left Align" (click)="next()">
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          Next
      </button>
    </div>
  </div>
</div>
