<h3 class="text-center">
  {{title}}
</h3>
<div class="container-fluid">
  <div class="product-form">
    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="text">Name:</label>
        <input type="text" class="form-control" id="text" [readonly]="mode==='edit'" formControlName="name">
      </div>
      <div class="form-group">
        <label for="img">Image:</label>
        <input type="file" class="form-control" (change)="fileChange($event)" accept="image/x-png, image/gif, image/jpeg">
      </div>
      <div formGroupName="stock">
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="text" class="form-control" id="quantity" formControlName="quantity">
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="text" class="form-control" id="price" formControlName="price">
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-default" (click)="save()">Save</button>
      </div>
    </form>
  </div>
</div>
