<div class="container-fluid">
  <div class="search-form">
    <form [formGroup]="searchForm">
      <input type="text" class="form-control" formControlName="name">
    </form>
    <div class="text-center">
      <button type="button" class="btn btn-default" (click)="search()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Search
      </button>
      <button type="button" class="btn btn-default" (click)="createProduct()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Add
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <td>
            <img width="30px" height="30px" [src]="getImgFullUrl(product.img)">
          </td>
          <th>{{product._id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.stocks[0].price}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="editProduct(product)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="removeProduct(product)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" [disabled]="skip===0" class="btn btn-default" aria-label="Left Align" (click)="previous()">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
          previous
      </button>
    <button type="button" [disabled]="disableNext" class="btn btn-default" aria-label="Left Align" (click)="next()">
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          Next
      </button>
  </div>
</div>
