<h2 class="text-center">
  Configurations
</h2>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let configuration of configurations">
          <th>{{configuration._id}}</th>
          <td>{{configuration.name}}</td>
          <td>{{configuration.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
>