<div class="text-center header">
  <h1>
    Products
  </h1>
  <div class="cart text-center">
    <button type="button" class="btn btn-default" aria-label="Left Align" routerLink="/">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" [disabled]="getQuantity() === 0" routerLink="/cart">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      {{getQuantity()}}
    </button>
  </div>
</div>
<router-outlet></router-outlet>
