<h1 class="text-center">
  Transaction Success
</h1>
<router-outlet></router-outlet>
<app-company-info [companyInfo]="companyInfo"></app-company-info>
<div class="text-center">
  <button class="btn btn-default" (click)="goToHomePage()">Go to Homepage</button>
</div>