<h3 class="text-center">
  Order Details
</h3>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>SKU</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th *ngIf="mode === 'payment'">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.products">
          <td>
            <img width="30px" height="30px" [src]="getImageUrl(product.img)">
          </td>
          <th>{{product._id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.stocks[0].price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.stocks[0].price * product.quantity}}</td>
          <td *ngIf="mode === 'payment'">
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="removeOrderProduct(product)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>TAX</td>
          <td>{{order.tax}}%</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>TOTAL</td>
          <td>${{calculateTotalPrice()}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
