<h1 class="text-center">
    Dashboard
</h1>
<div class="text-center">
    <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./']">
      Products
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./orders',{limit:0}]">
      Orders
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./business']">
      Business Info
    </button>
    <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./configuration']">
      Configuration
  </button>
</div>
<router-outlet></router-outlet>