<div class="container-fluid">
  <div class="login-form">    
    <form [formGroup]="userForm">
      <h1 class="text-center">Login</h1>
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" formControlName="password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-default" (click)="login()">Enter</button>
      </div>
    </form>
  </div>
</div>