.p-details-container{
  .name{
    font:{
      size:20px;
      weight:bold;
    }
  }
  
  input{
    max-width: 40px;
  }

  img{
    height: 500px;
    width: 500px;
    @media screen and (max-width: 560px){
      height: 250px;
      width: 250px;
    }
  }
}