<div class="p-details-container container-fluid text-center">
  <div class="row name">
    {{product.name}}
  </div>
  <div class="row">
    Price : {{stock.price}}
  </div>
  <div class="row">
    <img [src]="getImgFullUrl(product.img)" />
  </div>
  <div class="row">
    Stock : {{calculateQuantity()}}
  </div>
  <div class="row">
    <input type="number" maxlength="10" [value]="product.quantity" #quantity min="0" max="99" />
    <button type="button" class="btn btn-default" aria-label="Left Align" (click)="changeProductQuantity(product)">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          Add to cart
      </button>
  </div>
</div>
