<h2 class="text-center">
  Company Info
</h2>
<div class="text-center container-fluid company-info">
  <div class="row">
    Name: {{companyInfo.name}}
  </div>
  <div class="row">
    Direction: {{companyInfo.direction}}
  </div>
  <div class="row">
    Contact Number: {{companyInfo.contactNumber}}
  </div>
</div>