<h2 class="text-center">
  Credit Card
</h2>
<div class="container-fluid">
  <form [formGroup]="creditCardForm" class="credit-card">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>
    <div class="form-group">
      <label for="number">Number​:</label>
      <input type="text" class="form-control" formControlName="number" id="number">
    </div>
    <div class="form-group">
      <label for="expirationDate">Expiration Date​:</label>
      <input type="text" class="form-control" formControlName="expirationDate" id="expirationDate">
    </div>
    <div class="form-group">
      <label for="securityCode">Security Code​​:</label>
      <input type="text" class="form-control" formControlName="securityCode" id="securityCode">
    </div>
    <div class="text-center">
      <button class="btn btn-default" (click)="updateOrderAndSaveCreditCard()">Place Order</button>
    </div>
  </form>
</div>
