<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Status</th>
          <th>CreditCard</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList">
          <th>{{order._id}}</th>
          <td>{{order.tax}}</td>
          <td>{{order.date}}</td>
          <td>{{order.status}}</td>
          <td>{{order.creditCard?order.creditCard.number:''}}</td>
          <td>
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="showOrder(order)">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="removeOrder(order)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
