<h1 class="text-center">Payment</h1>
<div class="text-center">
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./']">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
  <button type="button" class="btn btn-default" aria-label="Left Align" [routerLink]="['./creditCard']">
      <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
  </button>
</div>
<router-outlet></router-outlet>
