<div class="container-fluid">
  <h2 class="text-center">Cart</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.stocks[0].price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.stocks[0].price * product.quantity}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>TOTAL</td>
          <td>{{calculteTotal()}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <button type="button" class="btn btn-default" aria-label="Left Align" (click)="checkout()">
          <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
          Checkout
    </button>
  </div>
</div>
